@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 97vw;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url('images/bg-pattern-top.svg') ;
    background-image: url('images/bg-pattern-bottom.svg') ;
    background-repeat: repeat;
    background-size: 300px;
}

main {
    width: 320px;
    background-color: #fff;
    margin: 150px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.high {
    width: 320px;
    height: 150px;
    background-color: hsl(185, 75%, 39%);
    background-image: url('images/bg-pattern-card.svg');
    border-radius: 10px 10px 0px 0px;
}

.low {
    text-align: center;
}

.low img {
    border: 5px solid white;
    border-radius: 50%;
    flex: auto;
    position: relative;
    top: -50px;
}

.info {
    margin-top: -2.2em;
    margin-bottom: 2.5em;
    font-family: "Kumbh Sans", sans-serif;
}

.info h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
}

.info span {
    color: hsl(227, 10%, 46%);
    font-size: 19px;
    font-weight: 400;
    margin-left: 5px;
}

.info p {
    color: hsl(227, 10%, 46%);
    margin-top: 10px;
}

.stats {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: "Kumbh Sans", sans-serif;
    margin-bottom: 20px;
}

.stats p {
    color: hsl(229, 23%, 23%);
    font-weight: bold;
    font-size: 18px;
}

.stats span {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

